body {
    background: white url("../images/background.png");
}

.navbar {
    border-radius: 0;
}

.home-main {
    margin: 70px 100px 100px;
}

.home-h4 {
    padding: 15px;
}

.register-h3 {
    padding: 25px;
}

.exportToExcel {
    margin-left: 434px;
}

.table {
    width: 700px !important;
}

.all-h4 {
    padding: 25px;
}