{% extends 'registration/base.html' %}

{%  block body %}
    {%  if error_msg %}
        <p class="">{{error_msg}}</p>
    {% endif %}

    <div id="register">
        <h3 class="register-h3">Please enter your details</h3>
        <form class="form-horizontal" autocomplete="off" action="" method="post">
            {%  csrf_token %}
            {% include 'registration/form_template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Register Visitor</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}